body
{
    text-align: center;
    color: white;
    position: relative;
    background-color: green;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
}
body.color{
    background-color: black;
}
body.image{
    background-image: url('pokemon/bg.jpg');
}
.header1{
    height: 200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
h1{
    font-size: 50px;
}
.card {
    width: 80px;
    height: 120px;
    z-index: 1;
}
.cardP {
    width: 80px;
    height: 120px;
    z-index: 1;
}

/* resize images */
.card img {
    width: 100px;
    height: auto;
    position: relative;
}
.cardA img {
    width: 40%;
    height: auto;
}

.hidden{
    opacity:0;
}
.shown{
    opacity:1;
}
#active{
    width: 300px;
    height: 300px;
}
#board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    width: 700px;
    height: 600px;
}
#p1Deck{
    position: absolute;
    transform-origin: 150% 100%;
    bottom: 50px;
    right: 55px;

}
#p2Deck{
    transform-origin: -10% -10%;
    position: absolute;
    top: 100px;
    left: 50px;
}
.p1Hand{
    width: 20px;
    height: 70px;
}
.p2Hand{
    width: 20px;
    height: 70px;
}
#p1Deck:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
#p2Deck:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
#p1Holder{
    width: 800px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 10%;
    display: flex;
    flex-direction: row-reverse;
}
#p2Holder{
    width: 800px;
    height: 100px;
    position: absolute;
    right: 10%;
    display: flex;
}
#prizeHolder{
    width: 100px;
    height: 300px;
    position: absolute;
    top: 250px;
    left: 50px;
    display: flex;
    flex-direction: column;
}
.prize{
    width: 20px;
    height: 10px;
    flex-grow: 1;
    flex-direction: column;

}
#scoreHolder{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 360px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#p1PokeHolder{
    height: 256px;
    width: 256px;
    left: -50px;
    top: 50px;
    position: relative;
    text-align: center;
    z-index: 2;

}
#p2PokeHolder{
    height: 256px;
    width: 256px;
    right: -50px;
    bottom: 50px;
    position: relative;
    text-align: center;
    z-index: 2;

}
