body
{
    text-align: center;
    background-color: green;
    color: white;
    position: relative;
}

.card {
    width: 200px;
    height: 120px;
}

/* resize images */
.card img {
    width: 50%;
    height: auto;
    position: relative;
}
.cardA img {
    width: 40%;
    height: auto;

}

.hidden{
    opacity:0;
}
#active{
    width: 300px;
    height: 300px;
    border: 5px solid yellow;
}
#board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    width: 700px;
    height: 700px;
    border: 5px solid blue;
}
#p1Deck{
    position: absolute;
    bottom: 0;
    right: 0;
    border: 5px solid red;
}
#p1Deck:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
#p2Deck:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
#p2Deck{
    position: absolute;
    top: 50px;
    left: 0;
    border: 5px solid red;
}
.p1Hand{
    width: 20px;
    height: 70px;
    flex-grow: 1;

}
.p2Hand{
    width: 20px;
    height: 70px;
    flex-grow: 1;

}
#p1Holder{
    border: 5px solid purple;
    width: 800px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
}
#p2Holder{
    border: 5px solid orange;
    width: 800px;
    height: 100px;
    position: absolute;
    right: 0;
    display: flex;
}
#prizeHolder{
    border: 5px solid pink;
    width: 100px;
    height: 300px;
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prize{
    width: 20px;
    height: 70px;
    flex-grow: 1;
}
#scoreHolder{
    border: 5px solid pink;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 360px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
